{% extends 'base.html' %}
{% block title %}About{% endblock title %}

{% block content %} 
<h1>About Page</h1>
<p>The subtitle of this page is Kitchen Sink Coding, 
meaning that it's less (not at all) about consistency of 
method/approach and more (totally) about demonstrating facility 
with a number of technologies within and alongside Django.
</p>
<p>These include (but aren't limited to):<p>
<ul>
<li>htmx
</li>
<li>FBV and CBV
</li>
<li>Search functionality via Q
</li>
<li>lots of other stuff to list...
</li>
</ul>
{% endblock content %}